<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="studentBean" class="com.company.Student">
        <property name="name" value="Piotr Juchimowicz"/>
    </bean>
    <bean id="employeeBean" class="com.company.DIwithConstructor.Employee">

        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="Piotr Juchimowicz"/>

    </bean>
    <bean id="EmployeeSetter" class="com.company.DIwithSetter.Employee">
        <property name="name" value="Piotr Juchimowicz"/>
        <property name="city" value="Łomża"/>
        <property name="id" value="0"/>
    </bean>

</beans>